In [1]:
# question 1

In [22]:
import pandas as pd
import numpy as np

In [23]:
a = pd.read_csv("Cutlets.csv")

In [24]:
a.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [25]:
from scipy import stats

In [30]:
# Comparing the sample
stat, p = stats.ttest_ind(a["Unit A"],a["Unit B"])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=0.723, p=0.472

In [31]:
# interpret
alpha = 0.05
if p > alpha:
	print('Same distributions (fail to reject H0)')
else:
	print('Different distributions (reject H0)')

Same distributions (fail to reject H0)